/* Element Selector */
        body {
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
            background-color: #5a8ad2;
        }

        /* Class Selector */
        .features-section {
            padding: 3rem 5%;
            text-align: center;
        }

        /* Descendant Selector */
        .features-section h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
            letter-spacing: 1px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        .feature-item {
            background-color: rgb(65, 167, 109);
            color: #0c0000 ;
            
            padding: 1rem;
            margin-bottom: 1rem;
            border: 5px solid #7f1c0b;
            border-radius: 8px;
            transition: all 0.3s ease;
        }

        /* Hover Effect */
        .feature-item:hover {
            background-color: #007BFF;
            color: rgb(194, 190, 202);
            transform: translateY(-5px);
        }