body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #bd5151;
            
            /* Center card */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Card Styling */
        .card {
            background-color: rgb(0, 176, 68);
            width: 320px;
            
            /* Box Model */
            padding: 25px;
            border: 2px solid #1b0505;
            margin: 20px;
            
            border-radius: 12px;
            text-align: center;
        }

        /* Name */
        .card h2 {
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }

        /* Role */
        .role {
            font-size: 16px;
            font-weight: 600;
            color: #555;
            margin-bottom: 15px;
        }

        /* Description */
        .description {
            font-size: 14px;
            line-height: 1.6;
            color: #070101f2;
            margin-bottom: 20px;
        }

        /* Button */
        .btn {
            display: inline-block;
            padding: 10px 20px;
            border: none;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        /* Hover Effect */
        .btn:hover {
            background-color: #7e1679;
        }